
.vs/DigitalTower/v15/Browse.VC.db
.vs/DigitalTower/v15/Browse.VC.opendb
.vs/DigitalTower/v15/Solution.VC.db
.vs/DigitalTower/v15/Solution.VC.db-shm
.vs/DigitalTower/v15/Solution.VC.db-wal
Binaries/Win64/UE4Editor-DigitalTower.dll
Binaries/Win64/UE4Editor-DigitalTower.pdb
Saved/Logs/DigitalTower.log
